*{
  margin: 0;

  box-sizing: border-box;
  }
  
  body {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .container {
  width: 960px; 
  display: flex;
  justify-content: space-between;
  }
  
  .block1, .block2, .block3 {
  height: 115px;
  background-color: #808080;
  color: #808080;
  }
  
  .block1 {
  width: 115px;
  }
  
  .block2 {
  width: 360px;
  }
  
  .block3 {
  width: 430px;
  }
  
  a { 
  text-decoration: none; 
  color: #f0f0f0; 
  line-height: 36px;
  font-family: Arial;
  padding-left: 150px;
  }
  
  hr {
  width: 960px;
  height: 1px;
  background-color: black;
  margin-top: 15px;
  font-weight: normal;
  }
  
  .container2 {
  display: flex;
  flex-direction: column;
  margin-top:  15px;
  }
  
  .block4 {
  width: 180px;
  height: 360px;
  background-color: #808080;
  }
  
  .block4 h1 {
  font-family: Arial;
  font-size: 16px;
  color: white;
  padding: 7px;
  margin-top: 5px;
  }
  
  .block4 ul {
  padding: 6px;
  color: white;
  font-size: 14px;
  font-family: Arial;
  line-height: 22px;
  }
  
  .block5 {
  width: 180px;
  height: 160px;
  background-color: #808080;
  margin-top: 247px;
  }
  
  .container3 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .block6 {
  width: 770px; 
  flex: 1;
  height: 225px; 
  background-color: lightgray; 
  margin-top: 20px;
   
  }
  
  .container2 {
  width: 20%; 
  float: left;
  }
  
  .container3 {
  width: 80%; 
  float: right;
  }
  
  .list {
  padding-left: 25px; 
  margin-top: 25px;
  font-family: Arial;
  color: darkgray;
  }
  
  .list li {
  margin-top: 5px;
  }
  img[alt="block6"] {
    color: lightgray;
  }
  h3 {
  font-size: 16px; 
  padding-left: 18px;
  font-family: Arial;
  }
  h2{
  font-family: Arial;
  margin-top: 25px; 
  padding-left: 15px ;
  color: darkgrey;
  font-size: 16px;
  font-weight: bold;
  }
  
  .word {
  color: black; 
  font-family: Arial;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
  }
  .description {
  color: darkgrey; 
  font-family: Arial;
  font-size: 14px; 
  line-height: 20px;
  }
  .block7 {
  display:flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
  gap: 17px;
  }
  
  .block {
  width: 140px ;
  height: 160px; 
  background-color: lightgrey; 
  margin-bottom: 10px;  
  }
  .inner-container {
    display: flex;
    justify-content:space-between;
    height: 175px;
    width: 770px;
  }
  
  .block8 {
    display: flex; 
    background-color: lightgray;
    width: 380px;
    color: black;
    
  }
  .block8 p {
    font-size: 14px; 
    font-family: Arial, sans-serif; 
    color: #808080; 
    line-height:21px; 
    padding: 10px; 
}
.block9 {
  width: 380px;
  background-color: lightgrey;
  display: flex;
}
  .block9 p {
    font-size: 14px; 
    font-family: Arial, sans-serif; 
    color: #808080; 
    line-height:21px; 
    padding: 10px; 
  }

  .line1 {
    width: 960px;
    height: 1px;
    background-color: black;
    font-weight: normal;
  
  }
      .container4 {
          width: 960px; 
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
          height: 180px;
      }
      
      .block10, .block11 {
        height: 210px;
        width: 290px;
        display: flex;
        justify-content: space-between;
      
          background-color: #808080;
        }
        
          .column1 , .column2 {
          font-weight: normal;
          color: white;
          font-family: Arial;
          font-size: 16px;
          line-height: 21px;
          padding-top: 15px;
        }
        .column1 {
          padding-left: 35px;
        }
       .column2 {
         padding-right: 80px;
        }
    .block11 li {
      padding-left: 15px;
      font-size: 14px;
      list-style-type: square;
      line-height: 16px;
      color: white;
      padding-top: 10px;
    }
    
    .container5 {
      height: 200px;
      width: 340px;
      display: flex;
      justify-content: space-between;
    }
    .block12{
      height: 85px;
      width: 340px;
      color:darkgrey;
      background-color: #808080;
    }
  .block13 {
    height: 85px;
    width: 340px;
  margin-top: 115px;
  display: flex;
  background-color: #808080;
  }

    
      
    
 
